@media (max-width:375px) {
  header {
    display: block;
    text-align: center;
    padding: 5px;
  }

  .logo {
    width: 170px;
    border-radius: 50%;
    box-shadow: 0rem 0rem 5rem 0.5rem rgba(0, 247, 247, 0.4)
  }

 .Titulo {
    color: darkgrey;
    font-size: 12px;
  } 
  nav .boton_menu{
  display: block;
  padding: 0px;
  }

  nav ul {
    text-align: center;
    display: block;
    position:fixed;
    width: 100%;
    height: 100%;
    background-color: #2e3c50;
    left: -120%;
    transition: all 0.3s;


  }

  nav ul li {
    line-height: 30px;
  }
  #active_menu:checked ~ ul {
    left: -10%;
  }

  #contenedor {
    display: block;
    text-align: center;
    box-sizing: border-box;
    padding-top: 5%;
    padding-bottom: 5%;

  }

  .texto {
    text-align: center;
    font-size: 11px;
    width: fit-content;
    margin-left: 15%;
  }

  .container_win {
    width: 300px;
    display: inline-block;
    border-radius: 30px;
    box-shadow: 0rem 0rem 5rem 0.5rem rgba(0, 247, 247, 0.4)
 }

  #gaming {
    text-align: center;
    background-color: #111A29;
 }


 #gaming p {
    display: inline-block;
    letter-spacing: 0.05rem;
    font-size: 11px;

 }
 .card {
  width: 100px;
  min-height: 100px;
 }
 .group {
  gap: 10px;
 }
 
#logo_footer {
  display: block;
}

 #logo_footer a img {
  margin-left: 11px;
  width: 50px;
 }

 .name_buisnes{
  font-size: 8px;
  display: block;
  margin-top: 160px;
  margin-left: -80px;
 }

 .lista_redes {
  margin-left: -50px;
  margin-top: 160px;
 }


 .social .lista_redes .list_container a img {
  width: 24px;
 }

 .copy  {
  margin-left: 10px;
  font-size: 8px;
  margin-top: 160px;
 }

}

