@media (max-width : 1366px) {
    body {
    background-color: #000714;
    margin: 0;
    padding: 0;
    color: darkgrey;
}

header {
    text-align: center;
    border: darkgrey;
    padding: 20px;
}

.logo {
    width: 400px;
    border-radius: 50%;
    box-shadow: 0rem 0rem 5rem 0.5rem rgba(0, 247, 247, 0.4)



}
.Titulo {
    color: darkgrey;
}

nav .boton_menu  {
    display: none;
}
nav ul {
    display: flex;
    justify-content: center;
    justify-items: center;
    list-style: none;
    gap: 10%;
}


nav ul li a {
    padding: 10px;
    text-decoration: none;
    color: darkgray;
    transition: 0.5s;
    size: 30px;
    font-size: 20px;
    border-radius: 5px;
    
}
nav ul li a:hover{
    background-color: rgba(36,123,255,0.149);
}

#contenedor {
    display: block;
    text-align: center;
    box-sizing: border-box;
    padding-top: 5%;
    padding-bottom: 5%;

}

.container_1{
    display: flex;
    text-align: center;
    margin-left: 50%; 
    gap: 20%;
    width: 1000px;
    height: 1000px;
    box-sizing: border-box;
}





.texto {
    display: inline-block;
    padding: 1rem;
    letter-spacing: 0.05rem;
    width: 500px;
    font-size: 20px;
    margin-right: 15%;
    text-align: center;
    
}

.container_win {
    width: 600px;
    display: inline-block;
    border-radius: 30px;
    box-shadow: 0rem 0rem 5rem 0.5rem rgba(0, 247, 247, 0.4)
}


#gaming {
    text-align: center;
    background-color: #111A29;
}

#gaming p {
    display: inline-block;
    letter-spacing: 0.05rem;
    font-size: 20px;

}

.carrusel {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    flex: 0 0 100%;
    &:hover .group {
    animation-play-state: paused;
  }
}
  .card {
    width: 200px;
    color: white;
    border-radius: 24px;
   /* box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0;*/
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    box-shadow: 0rem 0rem 2rem 0rem rgba(71,108,167, 20%);

  }

.group {
    display: flex;
    gap: 30px;
    /* Add padding to the right to create a gap between the last and first card. */
    padding-right: 20px;
     animation: scrolling 40s linear infinite;
  }

@keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  #footer {
    background-color: #151b23;
    display: flex;
    box-sizing: border-box;
    height: 100%;
    gap: 20px;

  }

  #logo_footer {
    display: contents;

  }



#logo_footer a img {
    width: 100px;
     margin-top: 100px;

  }

.name_buisnes {
  margin-top: 12%;
}

.lista_redes {
  margin-left: 100%;
    margin-top: 80%;
    list-style: none;
    display: flex;
    gap: 20px;
}

.copy {
    margin-top: 12%;
    margin-left: 15%;
}


}

@media (max-width : 1280px) {

    background-color: #000714;
    margin: 0;
    padding: 0;
    color: darkgrey;
}

header {
    text-align: center;
    border: darkgrey;
    padding: 20px;
}

.logo {
    width: 400px;
    border-radius: 50%;
    box-shadow: 0rem 0rem 5rem 0.5rem rgba(0, 247, 247, 0.4)



}
.Titulo {
    color: darkgrey;
}

nav .boton_menu  {
    display: none;
}
nav ul {
    display: flex;
    justify-content: center;
    justify-items: center;
    list-style: none;
    gap: 10%;
}


nav ul li a {
    padding: 10px;
    text-decoration: none;
    color: darkgray;
    transition: 0.5s;
    size: 30px;
    font-size: 20px;
    border-radius: 5px;
    
}
nav ul li a:hover{
    background-color: rgba(36,123,255,0.149);
}

#contenedor {
    display: block;
    text-align: center;
    box-sizing: border-box;
    padding-top: 5%;
    padding-bottom: 5%;

}

.container_1{
    display: flex;
    text-align: center;
    margin-left: 50%; 
    gap: 20%;
    width: 1000px;
    height: 1000px;
    box-sizing: border-box;
}





.texto {
    display: inline-block;
    padding: 1rem;
    letter-spacing: 0.02rem;
    width: 500px;
    font-size: 20px;
    margin-right: 15%;
    text-align: center;
    
}

.container_win {
    width: 500px;
    display: inline-block;
    border-radius: 30px;
    box-shadow: 0rem 0rem 5rem 0.5rem rgba(0, 247, 247, 0.4)
}


#gaming {
    text-align: center;
    background-color: #111A29;
}

#gaming p {
    display: inline-block;
    letter-spacing: 0.05rem;
    font-size: 20px;

}

.carrusel {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    flex: 0 0 100%;
    &:hover .group {
    animation-play-state: paused;
  }
}
  .card {
    width: 200px;
    color: white;
    border-radius: 24px;
   /* box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0;*/
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    box-shadow: 0rem 0rem 2rem 0rem rgba(71,108,167, 20%);

  }

.group {
    display: flex;
    gap: 30px;
    /* Add padding to the right to create a gap between the last and first card. */
    padding-right: 20px;
     animation: scrolling 40s linear infinite;
  }

@keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  #footer {
    background-color: #151b23;
    display: flex;
    box-sizing: border-box;
    height: 100%;
    gap: 20px;

  }

  #logo_footer {
    display: contents;

  }



#logo_footer a img {
    width: 100px;
     margin-top: 100px;

  }

.name_buisnes {
  margin-top: 12%;
}

.lista_redes {
  margin-left: 100%;
    margin-top: 80%;
    list-style: none;
    display: flex;
    gap: 20px;
}

.copy {
    margin-top: 12%;
    margin-left: 15%;
}
}
