body {
    background-color: #000714;
    margin: 0;
    padding: 0;
    color: darkgrey;
}

header {
    text-align: center;
    border: darkgrey;
    padding: 20px;
}

.logo {
    width: 400px;
    border-radius: 50%;
    box-shadow: 0rem 0rem 5rem 0.5rem rgba(0, 247, 247, 0.4)



}
.Titulo {
    color: darkgrey;
}


nav ul {
    display: flex;
    justify-content: center;
    justify-items: center;
    list-style: none;
    gap: 10%;
}


nav ul li a {
    text-decoration: none;
    color: darkgray;
    transition: 0.5s;
    size: 30px;
    font-size: 20px;
    
}
nav ul li a:hover{
    color: rgb(0, 255, 255);
    text-shadow: 5rem rem 5rem 0.05rem rgba(0, 247, 247, 0.4);
}

#contenedor {
    display: block;
    text-align: center;
    box-sizing: border-box;
    padding-top: 5%;
    padding-bottom: 5%;

}

#container_1{
    display: flex;
    text-align: center;
    margin-left: 50%; 
    gap: 20%;
    width: 1000px;
    height: 1000px;
    box-sizing: border-box;
}

.subtema {
    margin-right: 50%;
    margin-bottom: -30px;
}



.texto {
    display: inline-block;
    letter-spacing: 0.05rem;
    padding-top: 15px;
    width: 500px;
    font-size: 20px;
    margin-right: 15%;
    
}

.container_win {
    width: 600px;
    display: inline-block;
    vertical-align: top;
    border-radius: 30px;
    box-shadow: 0rem 0rem 5rem 0.5rem rgba(0, 247, 247, 0.4)
}


#gaming {
    text-align: center;
    background-color: #111A29;
}

#gaming p {
    display: inline-block;
    letter-spacing: 0.05rem;
    font-size: 20px;

}

.carrusel {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    flex: 0 0 100%;
    &:hover .group {
    animation-play-state: paused;
  }
}
  .card {
    width: 200px;
    color: white;
    border-radius: 24px;
   /* box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0;*/
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    box-shadow: 0rem 0rem 2rem 0rem rgba(71,108,167, 20%);

  }

.group {
    display: flex;
    gap: 30px;
    /* Add padding to the right to create a gap between the last and first card. */
    padding-right: 20px;
     animation: scrolling 40s linear infinite;
  }

@keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  #footer {
    background-color: #151b23;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    height: 300px;

  }

  #logo_footer {
    display: contents;
  }

#logo_footer h2 {
    margin-top: 210px;
}

#logo_footer a img {
    width: 200px;
     margin-top: 90px;

  }

.lista_redes {
    margin-top: 200px;
    list-style: none;
    display: flex;
    gap: 20px;
}

.copy {
    margin-top: 200px;
    margin-left: 10px;
}

