body {
  background-color: #000714;
  margin: 0;
  padding: 0;
  color: darkgrey;
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
  padding: 20px;
}

.logo {
    width: 400px;
    border-radius: 50%;
    box-shadow: 0rem 0rem 5rem 0.5rem rgba(0, 247, 247, 0.4)



}

.Titulo {
  color: darkgrey;
  font-size: 1.5rem;
}

/* ====== NAV ====== */
nav {
  position: relative;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

nav .boton_menu {
  display: none;
  width: 40px;
  cursor: pointer;
}

#active_menu {
  display: none;
}

nav ul li a {
  padding: 10px;
  text-decoration: none;
  color: darkgray;
  transition: 0.5s;
  font-size: 1rem;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: rgba(36,123,255,0.149);
}

/* ====== CONTENEDOR ====== */
#contenedor {
  text-align: center;
  padding: 5% 2%;
}

.texto {
  display: inline-block;
  padding: 1rem;
  width: 100%;
  max-width: 500px;
  font-size: 1rem;
  margin: auto;
  gap: 2rem;
}

.container_win {
  width: 100%;
  max-width: 600px;
  border-radius: 30px;
  box-shadow: 0 0 5rem 0.5rem rgba(0, 247, 247, 0.4);
}

/* ====== GAMING ====== */
#gaming {
  text-align: center;
  background-color: #111A29;
  padding: 2rem;
}

#gaming p {
  max-width: 800px;
  margin: auto;
  font-size: 1rem;
}

.carrusel {
  margin: 0 auto;
  padding: 20px 0;
  max-width: 100%;
  overflow: hidden;
  display: flex;
}

.card {
  width: 150px;
  border-radius: 24px;
  box-shadow: 0 0 2rem rgba(71,108,167, 0.2);
}

.group {
  display: flex;
  gap: 20px;
  animation: scrolling 40s linear infinite;
}

@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

/* ====== FOOTER ====== */
#footer {
  background-color: #151b23;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
  color: darkgrey;
}

#logo_footer a img {
  width: 80px;
}

.lista_redes {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
}

.copy {
  font-size: 0.8rem;
  text-align: center;
  width: 100%;
  margin-top: 1rem;
}

/* ====== MEDIA QUERIES ====== */
@media (max-width: 768px) {
  nav .boton_menu {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 1001; /* encima del menú */
  }

  nav ul {
    flex-direction: column;
    background-color: #111A29;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    margin: 0;
    transform: translateX(-100%); /* oculto fuera de pantalla */
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease; /* animación */
    z-index: 1000;
  }

  /* Cuando el checkbox está activo */
  #active_menu:checked ~ ul {
    transform: translateX(0); /* entra desde la izquierda */
    opacity: 1;
  }

  nav ul li {
    text-align: center;
    margin: 10px 0;
  }
}
