* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000714;
    margin: 0;
    padding: 0;
    color: darkgrey;
}

header {
    text-align: center;
    border: darkgrey;
    padding: 20px;
}

.logo {
    width: 200px;
    border-radius: 50%;
    box-shadow: 0rem 0rem 5rem 0.5rem rgba(0, 247, 247, 0.4)



}
.Titulo {
    color: darkgrey;
    font-size: 20px;
}

nav {
  position: relative;
  padding: 1rem;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

nav .boton_menu {
  display: none;
  width: 40px;
  cursor: pointer;
}

#active_menu {
  display: none;
}

nav ul li a {
  padding: 10px;
  text-decoration: none;
  color: darkgray;
  transition: 0.5s;
  font-size: 1rem;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: rgba(36,123,255,0.149);
}

footer {
  width: 100%;
  background-color: #151b23;
  display: inline-block;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem;
  color: darkgrey;
}

#logo_footer a img {
  width: 80px;
}

.lista_redes {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;}

.copy {
  font-size: 0.8rem;
  text-align: center;
  width: 100%;
  margin-top: 1rem;
  margin-right: 5%;

}
