* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: #000714;
  color: darkgray;
  font-family: Arial, sans-serif;

}

hi {
  color:#feffff;
  text-align: center;
  justify-content: center;
  justify-items: center;
  display: flex;
}