@media (max-width:430px) {
    header {
        display: block;
        width: 100%;
    }

    .logo  {
        width: 100px;
        margin-left: 20px;
    }
    #titulo {

        display: none;
    }

    .nav_label {
        display: block;
        margin-left: 190%;
    }

    .navegacion {
        display: block;
        text-align: center;
        position: fixed;
        background-color: #2e3c50;
        transition: all 0.3s;
        width: 100%;
        height: 100%;
        left: 60px;
    }
    .nav_input:checked ~ ul {
        left: -200px;
    }
}