*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000714;
    color: darkgray;
}

#encabezado {
    display: flex;
}


.logo {
    width: 150px;
    margin-left: 50px;
}

#titulo {
    margin-top: 100px;
}

.nav_label {
    display: none;
}

.nav_input {
    display: none;
}

.navegacion {
    list-style: none;
    display: flex;
    margin-top: 100px;
    margin-left: 40%;
    gap: 80px;
}

.enlaces a {
    padding: 10px;
    text-decoration: none;
    color: darkgray;
    transition: 0.3s;
    font-size: 20px;
    border-radius: 5px;
    -o-transition: 0.3s;
    
}

.enlaces a:hover{
    background-color: rgba(36,123,255,0.149);

    
}

#container_full {
    background-color: #111A29;
    display: inline-block;
    width: 100%;

}

.subtema {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.texto {
    text-align: center;
    width: 600px;
    letter-spacing: 0.05rem;
    font-size: 20px;
}

.ilustration {
    width: 600px;
    border-radius: 30px;
    box-shadow: 0rem 0rem 5rem 0.5rem rgba(36,123,255,0.149);
}